/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  filter: brightness(50%); /* Reduce el brillo para dar una sensación de penumbra */
}


